*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 213, 213);
}

main{
    width: 30%;
    height: 80%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    border-radius: 20px;
}
main h1{
    font-size: 50px;
    text-align: center;

}
main p{
    font-size: 18px;
    width: 60%;
    text-align: center;
}
main button{
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    background-color: #2d86f3;
    color: aliceblue;

}
main img{
    width: 200px;

}